* {
  box-sizing: border-box;
  padding: 0;
}

body {
  max-width: 1500px;
  background-color: #d1caca;
}

.cookie_banner_1 {
  display: flex;
  width: 1440px;
  height: 72px;
  padding: 16px 120px;
  justify-content: center;
  align-items: center;
  background: #0b2239;
  margin-bottom: 24px;
}

.cookie_banner_1_height {
  display: flex;
  width: 1200px;
  align-items: center;
  gap: 32px;
  flex-shrink: 0;
}

.cookie_banner_1_text {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  color: #fff;
  font-size: 13px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.cookie_banner_1_button {
  display: flex;
  padding: 8px 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 2px;
  background: #4ad295;
  border: 0;
  color: #fff;
  font-size: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.cookie_banner_1_link {
  color: #4ad295;
  font-size: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-decoration-line: underline;
}

.cookie_banner_2 {
  display: flex;
  width: 1440px;
  height: 52px;
  padding: 16px 345.5px;
  justify-content: center;
  align-items: center;
  background: #2b2627;
  box-shadow: 0px 0px 1px 0px rgba(96, 96, 96, 0.1),
    0px 12px 24px -6px rgba(96, 96, 96, 0.15);
  margin-bottom: 72px;
  padding: 16px;
}

.cookie_banner_2_height {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
}

.cookie_banner_2_1_image {
  width: 16px;
  height: 16px;
}

.cookie_banner_2_text {
  color: #fff;
  font-size: 13px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 690px;
}

.cookie_banner_2_image {
  width: 16px;
  height: 16px;
}

.cookie_banner_3 {
  display: flex;
  width: 560px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 0px 1px 0px rgba(96, 96, 96, 0.1),
    0px 12px 24px -6px rgba(96, 96, 96, 0.15);
  margin-bottom: 24px;
}

.cookie_banner_3_image {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  background: rgba(234, 76, 137, 0.1);
}

.cookie_banner_3_text {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  color: #0d0c22;
  font-size: 13px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.cookie_banner_3_button {
  display: flex;
  padding: 4px 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: rgba(13, 12, 34, 0.05);
  border: 0;
}

.cookie_banner_3_1_button {
  display: flex;
  padding: 4px 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #ea4c89;
  border: 0;
}

.cookie_banner_4 {
  display: flex;
  width: 560px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #26262b;
  box-shadow: 0px 0px 1px 0px rgba(96, 96, 96, 0.1),
    0px 12px 24px -6px rgba(96, 96, 96, 0.15);
  margin-bottom: 72px;
}

.cookie_banner_4_text {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  color: #fff;
  font-size: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.cookie_banner_4_button {
  display: flex;
  padding: 4px 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #fff;
  border: 0;
}

.text-oc {
  color: #ff6247;
}

.cookie_banner_5 {
  display: flex;
  width: 360px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  border-radius: 6px;
  background: rgba(28, 37, 64, 0.95);
  box-shadow: 0px 0px 1px 0px rgba(96, 96, 96, 0.1),
    0px 12px 24px -6px rgba(96, 96, 96, 0.15);
  margin-right: 40px;
}

.cookie_banner_5_title {
  color: #fff;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.cookie_banner_5_text {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: #fff;
  font-size: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.cookie_banner_5_height {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.cookie_banner_5_1_height {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.cookie_banner_5_1_text {
  display: flex;
  width: 160px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cookie_banner_5_button {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #09b3af;
  box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
  border: 0;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cookie_banner_6 {
  display: flex;
  width: 360px;
  height: 198px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 0px 1px 0px rgba(96, 96, 96, 0.1),
    0px 12px 24px -6px rgba(96, 96, 96, 0.15);
  margin-bottom: 72px;
}

.cookie_banner_6_height {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.cookie_banner_6_title {
  color: #0f181d;
  font-size: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.cookie_banner_6_text {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: #687f8c;
  font-size: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.cookie_banner_6_1_height {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.cookie_banner_6_button {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 6px;
  background: #eaf0f4;
  box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
  border: 0;
  font-family: "Roboto";
  color: #687f8c;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cookie_banner_6_1_button {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 6px;
  background: #40c1a7;
  box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
  border: 0;
  font-family: "Roboto";
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cookie_banner_7 {
  display: flex;
  width: 320px;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-radius: 20px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(186, 226, 255, 0.15) 23.96%,
      rgba(229, 217, 255, 0.15) 71.88%,
      rgba(255, 255, 255, 0.15) 100%
    ),
    #fff;
  box-shadow: 0px 8px 32px 0px rgba(10, 3, 89, 0.1);
  margin-right: 40px;
}
.cookie_banner_7_height {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  color: #15295a;
}

.cookie_banner_7_title {
  text-align: center;
  font-size: 28px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
}

.cookie_banner_7_text {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  text-align: center;
  font-size: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.cookie_banner_7_button {
  display: flex;
  padding: 10px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 43px;
  background: #4a7eff;
  color: #fff;
  font-size: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border: 0;
}

.cookie_banner_8 {
  display: flex;
  width: 320px;
  height: 146px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 8px 32px 0px rgba(10, 3, 89, 0.1);
}

.cookie_banner_8_text {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: #000;
  font-size: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.cookie_banner_8_link {
  color: #66f;
  text-align: center;
  font-size: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cookie_banner_8_button {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #66f;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 0;
}

.cookie_banner_8_height {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  color: #6666ff;
}

.cookie_banner_wrapper {
  display: flex;
  margin-top: 72px;
}
